#insideleft {
  height: 100%;
  width: 100%;
}

#left {
  height: 86vh;
  background-color: darkKhaki;
}

#list {
  height: 80.84vh;
  width: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}






