#login {
   margin-top: 5vh;
   margin-left: auto;
   margin-right: auto;
   height: 86vh;
   width: 155vh; 
   border-radius: 10px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   background-color: #404040;
   text-align: left;  
   display: flex;
   flex-direction: column;
}

#loginform {
  display: inline-block;
  margin-left: 20vh;
  /*margin-top: 1vh;*/
}

#insideform {
   height: 50vh;
   width: 65vh;
   display: inline-block;
   margin-top: 6vh;
   text-align: center;
   background: rgba(211, 225, 223, 0.25);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 120px 20px;
}

#lbutton {
   height: 7vh;
   width: 15vh;
   opacity: 1;
   margin-right: 20px;
   margin-top: 4vh;
   background-color: #404040;
   border: none;
   border-radius: 20px;
   color: #51F0D3;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 18px;
   outline: none;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

#lbutton:hover{
   opacity: 0.7
}

#slink {
  color: #51F0D3;
  font-size: 18px;
}

.username {
  margin-top: 15vh;
  align-self: center;
  border: none;
  outline: none;
  height: 6vh;
  width: 40vh;
  padding-left: 3vh;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.63);
}

.password {
   margin-top: 2vh;
   align-self: center;
   border: none;
   outline: none;
   height: 6vh;
   width: 40vh;
   background-color: rgba(196, 196, 196, 0.63);
   padding-left: 3vh;
   border-radius: 10px;
}

.heading {
  font-size: 42px;
  padding-left: 40vh;
  font-weight: bold;
  padding-top: 8vh;
  color: #51F0D3;
}

.contents {
  display: flex;
  flex-direction: row;
  /*background-color: green;*/
  height: 100%;
  width: 100%;
}

.girlpicture {
  margin-top: 10vh;
  margin-right: 20vh;
  /*background-color: blue;*/
  width: 80vh;
  height: 40vh;
}
