.sidebar {
  width: 50vh;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navlink {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 2vh;
  margin-bottom: 8vh;
  width: 32vh;
  height: 8vh;
  align-items: center;
  justify-content: flex-start;
}

.navlink:hover {
  background: rgba(81, 240, 211, 0.1);
  border-radius: 30px;
  cursor: pointer;
}

.navlink:active {
  background: rgba(81, 240, 211, 0.2);
  border-radius: 30px;
  cursor: pointer;
}

.navtext {
  margin-left: 8vh;
  color: #404040;
  font-style: normal;
  font-weight: normal;
  user-select: none;
}

.navicon {
  margin-left: 7vh;
}

.active {
  background-color: rgba(81, 240, 211, 0.1);
  border-radius: 30px;
  cursor: pointer;
}

